<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mfdc.racingcars"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>iFrame Testing</name>

    <description>
        A simple html demo for testing iFrame with phonegap
    </description>

    <author email="charles@mfdc.biz">
        Charles Wang
    </author>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />

</widget>